*, ::after, ::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
  position: relative;
  height: 100%;
  width: 100%;
}

.full-page {
  width: 100vw;
  height: 100vh;
  background-color: rgb(52, 52, 52); 
  .container {
    position: relative;
    margin: 0 auto;
    height: 100%;     
    .counters {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      max-width: 500px;
      width: 100%;      
      padding: 1rem 4rem;      
      color: white;
      display: flex;
      align-items: center;
      flex-direction: column;
      -ms-flex-direction: column; 
      .main-counter{ 
        display: flex;
        align-items: center;       
        height: 6rem;
        transition: all .2s ease-in;
        &-0 {
          color: rgb(0, 186, 0);
          font-size: 6rem;
        }
        &-1 {
          color: rgb(0, 140, 0);
          font-size: 5.5rem;
        }
        &-2 {
          color: rgb(57, 97, 0);
          font-size: 5rem;
        }
        &-3 {
          color: rgb(200, 255, 0);
          font-size: 4.5rem;
        }
        &-4 {
          color: rgb(234, 255, 0);
          font-size: 4rem;
        }
        &-5 {
          color: rgb(255, 247, 0);
          font-size: 3.5rem;
        }
        &-6 {
          color: rgb(225, 142, 0);
          font-size: 3rem;
        }
        &-7 {
          color: rgb(187, 0, 0);
          font-size: 2.5rem;
        }
        &-8 {
          color: rgb(152, 0, 0);
          font-size: 2rem;
        }
      }
      .average-counter, .tap-counter{
        font-size: 2rem;
        color: white;
        margin: 1rem;
      }
      .buttons {
        width: 100%;
        padding: 1rem;
        font-size: 1.5rem;
        color: white;
        border-radius: 8px;
        margin-top: 1rem;
        &-counter {
          background-color: blue;
          border: solid darkblue;
          &-start {
            margin-top: 4rem;
          }
        }
        &-reset {
          background-color: red;
          border: solid darkred;
        }
      }      
    }    
  }
}

@media only screen and (max-width: 400px) {
  .full-page{
    .container {
      .counters {
        padding: 2rem .5rem;
        height: 100%;
        justify-content: space-around;
        .buttons {
          height: 5rem;

        }      
      }
    }
  }
}
@media only screen and (min-width: 401px) and (max-width: 600px) {
  .container {
    max-width: 450px;
  }
}
@media only screen and (min-width: 601px) and (max-width: 900px) {
  .container {
    max-width: 850px;
  }
}
@media only screen and (min-width: 901px) {
  .container {
    .counters {
      border-radius: 20px;
    }
  }
}
@media only screen and (min-width: 901px) and (max-width: 1200px) {
  .container {
    max-width: 1050px;
  }
}

@media only screen and (min-width: 1201px) and (max-width: 1500px) {
  .container {
    max-width: 1200px;
  }
}
@media only screen and (min-width: 1500px) {
  .container {
    max-width: 1350px;
  }
}